<div class="page-body">
  <div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Timesheet of an Employee'">
      <ngx-datatable
        class="data-table table-responsive"
        [rows]="rowsBasic"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [reorderable]="reorderable"
        (activate)="onActivate($event)">
      </ngx-datatable>
    </app-card>
  </div>
</div>
</div>
