<div class="page-body">
  <div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Timesheet of an Empployee'">
      <span>
        <h4 class="sub-title">Select Employee</h4>
        <select [(ngModel)]="employeeId" [ngModelOptions]="{standalone: true}" class="form-control form-control-default" (change)="updateRouteParams()">
          <option *ngFor="let user of users; index as i;" value="{{user.Id}}">{{user.Name}}</option>
        </select>
      </span>
      <button class="btn btn-primary float-right my-3" (click)="addTimeLog()">
        Add TimeLog
      </button>
      <!-- <br><br>
      <span class="heading-with-button d-block text-center">
        <i (click)="prevWeek()" class="icon-angle-left"></i> Week <i (click)="nextWeek()" class="icon-angle-right"></i>
      </span>-->
      <br><br> 
      <ngx-datatable
        class="data-table table-responsive"
        [rows]="rowsBasic"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [reorderable]="reorderable">
        <ngx-datatable-column name="Task Name" prop="TaskName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row['TaskName']}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Day Name"  prop="Day">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row['Day'] | date : "EEEE"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Hours Spent"  prop="Hours">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row['Hours']}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template 
            let-row="row"
            ngx-datatable-footer-template>
            {{rowsBasic.length ? rowsBasic.length + ' records': 'None'}}
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </app-card>
  </div>
</div>
</div>
