<div class="">
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5>Add a Time Log</h5>
            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
          </div>
          <div class="card-block">
            <form class="form-material" action="javascript:">
              <div class="row">
                <div class="form-group form-default col-sm-6">
                  <input type="text" class="form-control" required="" disabled>
                  <span class="form-bar"></span>
                  <label class="float-label">Employee: {{employee.Name}}</label>
                </div>
                <div class="form-group form-default col-sm-6">
                  <select [(ngModel)]="timeLog.TaskId" [ngModelOptions]="{standalone: true}" class="form-control form-control-default">
                    <option *ngFor="let task of tasks; index as i;" value="{{task.Id}}">{{task.Name}}</option>
                  </select>
                  <span class="form-bar"></span>
                  <label class="float-label">Task</label>
                </div>
                <div class="form-group form-default col-sm-6">
                  <input [(ngModel)]="timeLog.Day" [ngModelOptions]="{standalone: true}" type="date" class="form-control" required="">
                  <span class="form-bar"></span>
                  <label class="float-label">Day</label>
                </div>
                <div class="form-group form-default col-sm-6">
                  <input [(ngModel)]="timeLog.Hours" [ngModelOptions]="{standalone: true}" type="number" class="form-control" required="">
                  <span class="form-bar"></span>
                  <label class="float-label">Hours</label>
                </div>
                <div class="col-12">
                  <button (click)="addTimeLog()" class="btn btn-primary float-right">
                    Save
                  </button>
                  <button (click)="navigateToTimesheet()" class="btn btn-light float-right mr-2">
                    Cancel
                  </button>
                </div>
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>